<div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Item 1</h2>
            
                <svg class="icon icon--primary collapsible__shevron">
                    <img  class="collapsible__shevron1" src="images/shevron.svg" alt="the shevron">
                  </svg>
               
        </header>
        <div class="collapsible__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, magnam!
        </div>
    </div>