<div class="merdia">
    <div class="media__image">
     <span class="icon">
 
         <svg class="icon icon--primary">
             <use xlink:href="images/sprite.svg#clock"></use>
           </svg>
     </icon>
   
    </div>
    <div class="media__body">
         <h3 class="media__title">Easy Start and Manage Updates.</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid adipisci et aliquam culpa magnam facere repudiandae voluptatibus expedita placeat labore?</p>
    </div>