<nav class="nav collapsible">
    <a class="nav__brand" href="/"><img style="width: 6rem;height: 6rem;" src="images/logo.svg" alt=""></a>

<span class="icon-container">
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/inlinesprite#relax"></use>
      </svg>
    
    </span>
    <ul class="list nav__list collapsible__content">
        <li><a class="nav__item" href="#">Hosting</a></li>
        <li><a class="nav__item" href="#">VPS</a></li>
        <li><a class="nav__item" href="#">Domain</a></li>
        <li><a class="nav__item" href="#">Pricing</a></li>
    </ul>
</nav>