<body style="padding:5rem">
    <div class="card testimonial">
        <div class="grid gird--2">
            <div class="testimonial__image">
                <img  src="images/testimonal.jpg" alt="A happy smiling customer">
                <span class="icon">
                    <icon class="icon-container icon-container--accent">
                        <span class="icon icon--whit icon--smal">
                            <img style="width: 50px;" src="images/quote.svg" alt="a quote svg">
                        </span>
                       
                    </icon>
                  </span>
            </div>
            
            <blockquote class="quote">
                <p class="quote__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab ducimus, veritatis tempore recusandae nisi accusantium.</p>
            </blockquote>
            <footer>
                <div class="merdia">
                    <div class="media__image">
                     <span class="icon">
                 
                         <svg class="icon icon--primary quote__line">
                             <use xlink:href="images/sprite.svg#line"></use>
                           </svg>
                     </icon>
                   
                    </div>
                    <div class="media__body">
                         <h3 class="media__title quote__athor">John Smith</h3>
                         <p class="quote organization">ABC company</p>
                    </div>
            </footer>
        </div>
    </div>
</body>